<!DOCTYPE html>
<html>
<head>
    <title>Game Page</title>
    <style>
        form {background-color: aqua;
            font-family: comic-sans}

    </style>

</head>
<body>
    <form action = "/madlib">
        <br>Pick a person in the class
        <input type = "text" name = "person1">

        <br>Pick a color
        <input type = "checkbox" name = "color" value = "red">
        <label>Red</label>
        <input type = "checkbox" name = "color" value = "pink">
        <label>Pink</label>
        <input type = "checkbox" name = "color" value = "yellow">
        <label>Yellow</label>
        <input type = "checkbox" name = "color" value = "blue">
        <label>Blue</label>

        <br>Pick a noun
        <input type = "text" name = "noun">

        <br>Pick an adjective
        <input type = "text" name = "adj">

        <br>Pick a place
        <select name ="place">
            <option value = "frat">Frat House</option>
            <option value = "church">Church</option>
            <option value = "train">rain Station</option>
            <option value = "morgue">Morgue</option>
            <option value = "disney">Disneyland</option>
        </select>


        <br>Pick another person in the class
        <input type = "text" name = "person2">

        <br>Pick an instructor
        <input type = "radio" name = "instructor" value ="Andrew">
        <label>Andrew</label>
        <input type = "radio" name = "instructor" value ="Kat">
        <label>Kat</label>
        <input type = "radio" name = "instructor" value ="Marisa">
        <label>Marisa</label>

        <input type = "submit">

        <br><br><img id = "madlib" src = "https://lh3.googleusercontent.com/proxy/ELUQZHGdkBXXSg3jk4hTTCLGJEFypPHDBZEZBG-wQOtQa22GpS32n8Pzr2qSHy1WQqp6PW4md0YJG0-02ZUzKj1XDZFJFIgIjDpy3tO1YGt90rQ3dJWGvCTwUG5G24T9">

</body>
</html>>