<!DOCTYPE html>
<html>
<head>
    <title>Madlib Result</title>
    <link rel="stylesheet" href="/static/madlibs.css">
    <style>
        p {background-color: #3333;
            color: maroon;
            margin: 150px;
            }
    </style>
</head>
<body>
    <p> There once was a {{color}} {{ noun }} sitting in the Hackbright Lab. When {{ person1 }} went to pick it up, it burst into flames and almost killed {{person2}} in a {{ adj }} way. Luckily {{instructor}} was there to take {{person1}} to the {{place}}</p>
</body>
</html>

